*{
	margin: 0px;
	padding: 0px;
}

body {
	display: flex;
	flex-direction: column;
}

#header-parent {
	position: fixed;
	top: 0;
    left: 0;
    margin: auto;
    width: 100%;
}

#header-container {
	display: flex;
	/*background-image: linear-gradient(to right, white, grey);*/
	filter: alpha(Opacity=80);
	opacity: 0.8;
	height: 70px;
	z-index: 1;
}

#logo {
	width: 30%;
	color: #000;
	font-size: 25px;
	padding: 15px 0px 0px 25px;
	text-shadow: 3px 3px 7px red;
}

nav {
	width: 70%;
}

#nav-bar {
	display: flex;
	flex: 1;
	justify-content: flex-end;
	padding-top: 40px;
}

#nav-link {
	list-style-type: none;
	padding: 0px 10px 0px 10px;
}

#nav-link > a {
	color: #000;
	font-weight: bold;
	text-decoration: none;
	font-size: 25px;
}

#nav-link > a:hover {
	color: whitesmoke;
	font-weight: bold;
	text-shadow: 3px 3px 7px red;
}

#main-container {
	display: flex;
	flex-direction: column;
	flex: 1;
	height: 100vh;
}

#image {
	display: flex;
	flex-direction: column;
	flex: 1;
	background-image: url(images/arrows-1557398_1920.jpg);
	background-repeat: no-repeat;
	filter: alpha(Opacity=60);
	opacity: 0.6;
	z-index: -1;
}

#headings {
	display: flex;
	flex-direction: column;
	flex: 1;
	justify-content: center;
	align-items: center;
	color: #000;
	font-family: Georgia, 'Times New Roman', Times, serif;
	text-shadow: 3px 3px 7px red;
	z-index: 2;
}

#about-container {
	display: flex;
	flex: 1;
	justify-content: space-evenly;
	padding: 30px 300px;
	background-color: rgb(216, 212, 212);
}

#about h1,p {
	font-family: Georgia, 'Times New Roman', Times, serif;
}




