html, body {
    background-color: lightgray;
    font-family: sans-serif, 'Times New Roman', Times, serif;
    max-width: 800px;
    margin: auto;
}

#main {
    display: block;
}

#title h1 {
    color: #000000;
    text-align: center;
}

#image {
    display: block;
    margin-left: auto;
    margin-right: auto; 
    max-width: 100%;
    height: auto;
    text-align: center;
}
